@font-face {
  font-family: 'Satoshi', sans-serif;
  src: url("https://fonts.cdnfonts.com/css/satoshi");
  font-weight: lighter;
  font-style: normal;
}


html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#pageContainer {
  height: 100%;
}

#logo {
  width: 171px;
  height: 52px;
  margin-left: 15px;
}


li a {
  font-family: 'Satoshi', sans-serif !important;
  font-size: light;
  font-size: 18px;
}

.hero {
  margin-top: 40px;
}

.hero-2 {
  margin-top: 30px;
}


.image {
  justify-content: flex-end;
}
.buttondesign {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.header {
  background-image: url(https://storage.googleapis.com/finalexam.ro/images/22898271_6584661.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.header2 {
  background-image: url(https://storage.googleapis.com/finalexam.ro/images/22898271_6584661.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
  /*animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}*/



.frame {
  margin-top: 40px;
}

.prices {
  margin-top: 40px;
}

#typewriter-text {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange;
  animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.buybutton {
  margin-top: 40px;
}